.DS_Store
node_modules/
/dist/
logs/
output.json
error.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
api/config/config.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Local Netlify folder
.netlify
